body{
  background-color: blueviolet;
}

.App{
  background-color: #eee;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

input{
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  background-color: aquamarine;
  color: #000;
  outline: 0;
  font-size: 18px;
  border-radius: 10px;
}

button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: rgb(202,156,24);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}

.wrapper{
  margin-top: 20px;
  margin-left: 10px;
}
.count{
  margin-left: 90px;
}

.added{
  display: flex;
  flex-direction: column;
}

.disp{
  display: block;
  box-sizing: border-box;
  background-color:#fff;
  height: 40px;
  
}
p{
  padding-left: 10px;
  padding-top: 5px;
}