.App{
  height: 120px;
  width: 100%;
  background-color: #000;
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.logo{
  width: 50px;
  height: 50px;
 margin-top: 35px;
 margin-left: 100px;
}

img{
  width: 50px;
 
}

.sub{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: auto;
  color: white;
  margin-left: 50%;
}

.vedas{
  width: 100px;
  height: 30px;
  background-color: rgb(12, 221, 248);
  text-align: center;
  padding-top: 5px;
  font-weight: 600;
}

.main{

  width: 100%;
  background-color:rgba(202, 21, 21, 0.788) ;
 
}